/* <!-- 4.创意滚动信息栏------------------------------------------------- --> */
.animation{
	height: auto;
	width: 27rem;
	position: absolute;
	display: inline-block;
	right: 1rem;
	top: 35%;
	justify-content: center;
	align-items: center;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 27rem;
    height: 30rem;
}
.card{
    /* 绝对定位 */
    position: absolute;
    background-color: #64DB8F;
    width: 27rem;
    height: 10rem;
    /* 弹性布局 */
    display: flex;
    /* 将元素靠边对齐 */
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    border-radius: 10rem 2rem 2rem 10rem;
    opacity: 0;
    /* 执行动画:动画名称 时长 线性的 无限次播放 */
    animation: animate 15s linear infinite;
    /* 这里我们需要给每一个卡片设置一个不同的动画延迟时间 */
    /* 用到自定义属性,我们设置一个自定义属性--d */
    /* 通过var函数调用自定义属性--d,计算出动画延迟时间 */
    animation-delay: calc(3s * var(--d));
}
/* 鼠标移入,动画暂停 */
.container:hover .card{
    animation-play-state: paused;
}
.card .content{
    display: flex;
    align-items: center;
}
.card .img{
    width: 9rem;
    height: 9rem;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #fff;
    padding: .5rem;
    border-radius: 50%;
    /* 阴影 */
    box-shadow: 0 0 0.5rem rgba(0,0,0,0.2);
}
.card .img img{
    width: 100%;
    height: 100%;
    /* 对图片进行剪切,保留原始比例 */
    object-fit: cover;
    border-radius: 50%;
}
.card .detail{
    margin-left: 10rem;
}
.card .detail span{
    display: block;
    font-size: 1.8rem;
    font-weight: 60rem;
    margin-bottom: .8rem;
}
.card a{
    font-size: 1.4rem;
    text-decoration: none;
    background: linear-gradient(to bottom,#fbc5ed,#a6c1ee);
    padding: 0.7rem 1.8rem;
    color: #fff;
    border-radius: 2.5rem;
}

@keyframes animate {
    0%{
        opacity: 0;
        transform: translateY(100%) scale(0.5);
    }
    5%,20%{
        opacity: 0.4;
        transform: translateY(100%) scale(0.7);
    }
    25%,40%{
        opacity: 1;
        transform: translateY(0%) scale(1);
    }
    45%,60%{
        opacity: 0.4;
        transform: translateY(-100%) scale(0.7);
    }
    65%,100%{
        opacity: 0;
        transform: translateY(-100%) scale(0.5);
    }
}
